
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.inlineblock {
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	background-color: #000000;
}


header img {
	display: block;
	max-height: 50px;
}


ul {
	padding: 10px;
	
}

li {
	display: inline;
	list-style-type: none;
	color: #ffffff;
	padding-left: 25px;
	padding-right: 25px;

}

.heroimg img{
	height: 200px;
}

.heroimg {
	height: 100px;
	padding-top: 20%;
	padding-bottom: 30%;
	background-image:url("../images/GradientBackgroud.png");
	background-size: cover;
	background-repeat: no-repeat;}

.content {width: 500px;
margin: 0 auto;}


footer {
	background-color: black;
	padding: 1%;
}

footer ul {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

footer li {
	padding: 10px;
}